.hours-day,
.hours-time {
  margin: 0;
  font-family: $font-secondary;
  font-size: $font-s;
}

.hours-list-item {
  width: 100%;
  line-height: 1;
}

.hours-list {
  padding: 0;
  margin: 0;
}

.hours-day {
  @include respond-to(800, 'max') {
    width: 20%;
  }
}

.hours-time {
  @include respond-to(800, 'max') {
    width: 80%;
  }
}
