//
// Grid
//
@mixin create-col($cols, $margin) {

  @if($cols == 1) {
    flex: 1 1 auto;
    width: 100%;
    max-width: 100%;

  } @else {
    flex: 0 0 calc((100% / #{$cols}) - #{$margin});
    max-width: calc((100% / #{$cols}) - #{$margin});
    width: calc((100% / #{$cols}) - #{$margin});
  }

}


//
// Breakpoints
//
@mixin respond-to($breakpoint, $size) {
  @if map-has-key($breakpoints, $breakpoint) {
    @if($size == 'max') {
      @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    } @else {
      @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
        @content;
      }
    }
  }

  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

//
// Dim
//
@mixin dim {
  transition: opacity 0.5 ease;

  &:hover {
    opacity: 0.7;
  }
}


//
// Mobile menu icon
//
@mixin mobile-menu-icon {
  display: none;
  width: 50px;
  height: 40px;
  position: relative;
  margin: 0 1em 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;

  span {
    display: block;
    position: absolute;
    height: 4px;
    width: 50%;
    background: color(red);
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

    &:nth-child(even) {
      left: 50%;
      border-radius: 0 9px 9px 0;
    }

    &:nth-child(odd) {
      left:0px;
      border-radius: 9px 0 0 9px;
    }

    &:nth-child(1), &:nth-child(2) {
      top: 0px;
    }

    &:nth-child(3), &:nth-child(4) {
      top: 15px;
    }

    &:nth-child(5), &:nth-child(6) {
      top: 31px;
    }

  }


  &.is-open span:nth-child(1),
  &.is-open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &.is-open span:nth-child(2),
  &.is-open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &.is-open span:nth-child(1) {
    left: 5px;
    top: 7px;
  }

  &.is-open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
  }

  &.is-open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }

  &.is-open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }

  &.is-open span:nth-child(5) {
    left: 5px;
    top: 23px;
  }

  &.is-open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 23px;
  }

  @include respond-to(500, 'max') {
    display: block;
  }
}
