//
// Icon font path
//
$icon-font-path: "../fonts/";


//
// Grid
//
$container-width: 1200px;
$gutter-width: 2em;
$cols-1: 1;
$cols-2: 2;
$cols-3: 3;
$cols-4: 4;
$cols-5: 5;
$cols-6: 6;
$cols-7: 7;


//
// Breakpoints
//
$breakpoints: (
  400: 400px,
  500: 500px,
  600: 600px,
  700: 700px,
  800: 800px,
  900: 900px,
  1000: 1000px,
  1100: 1100px,
  1200: 1200px,
  1300: 1300px
);


//
// Colors
//
$colors: (
  brown: #624630,
  orange: #f36f23,
  red: #a13925,
  darkred: #6e0000
);


//
// Typography
//
@font-face {
  font-family: 'frykas';
  src: url('../fonts/baobaby_studio_-_frykasbold-webfont.eot');
  src: url('../fonts/baobaby_studio_-_frykasbold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/baobaby_studio_-_frykasbold-webfont.woff2') format('woff2'),
       url('../fonts/baobaby_studio_-_frykasbold-webfont.woff') format('woff'),
       url('../fonts/baobaby_studio_-_frykasbold-webfont.ttf') format('truetype'),
       url('../fonts/baobaby_studio_-_frykasbold-webfont.svg#frykas_boldregular') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'frykas';
  src: url('../fonts/baobaby_studio_-_frykasextralight-webfont.eot');
  src: url('../fonts/baobaby_studio_-_frykasextralight-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/baobaby_studio_-_frykasextralight-webfont.woff') format('woff'),
       url('../fonts/baobaby_studio_-_frykasextralight-webfont.ttf') format('truetype'),
       url('../fonts/baobaby_studio_-_frykasextralight-webfont.svg#frykas_extra_lightregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'lunchboxregular';
  src: url('../fonts/kimmy_design_-_lunchbox-webfont.eot');
  src: url('../fonts/kimmy_design_-_lunchbox-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/kimmy_design_-_lunchbox-webfont.woff2') format('woff2'),
       url('../fonts/kimmy_design_-_lunchbox-webfont.woff') format('woff'),
       url('../fonts/kimmy_design_-_lunchbox-webfont.ttf') format('truetype'),
       url('../fonts/kimmy_design_-_lunchbox-webfont.svg#lunchboxregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'skitch_shadedregular';
  src: url('../fonts/yellow_design_studio_-_skitchshaded-webfont.eot');
  src: url('../fonts/yellow_design_studio_-_skitchshaded-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/yellow_design_studio_-_skitchshaded-webfont.woff2') format('woff2'),
       url('../fonts/yellow_design_studio_-_skitchshaded-webfont.woff') format('woff'),
       url('../fonts/yellow_design_studio_-_skitchshaded-webfont.ttf') format('truetype'),
       url('../fonts/yellow_design_studio_-_skitchshaded-webfont.svg#skitch_shadedregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'skitch_solidregular';
  src: url('../fonts/yellow_design_studio_-_skitchsolid-webfont.eot');
  src: url('../fonts/yellow_design_studio_-_skitchsolid-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/yellow_design_studio_-_skitchsolid-webfont.woff2') format('woff2'),
       url('../fonts/yellow_design_studio_-_skitchsolid-webfont.woff') format('woff'),
       url('../fonts/yellow_design_studio_-_skitchsolid-webfont.ttf') format('truetype'),
       url('../fonts/yellow_design_studio_-_skitchsolid-webfont.svg#skitch_solidregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

$font-primary-fallbacks: Tahoma, Times, sans-serif;
$font-primary: 'frykas', $font-primary-fallbacks;
$font-secondary: 'lunchboxregular', $font-primary-fallbacks;
$font-skitch-shaded: 'skitch_shadedregular', $font-primary-fallbacks;
$font-skitch-solid: 'skitch_solidregular', $font-primary-fallbacks;

$font-base:   18px;

$font-xs:     25px;
$font-s:      32px;
$font-m:      40px;
$font-l:      50px;
$font-xl:     64px;

$btn-s:       22px;
$btn-l:       32px;


//
// Gutters / Spacing
//
$space-xs:    5px;
$space-s:     10px;
$space-m:     20px;
$space-l:     30px;
$space-xl:    40px;
